/*
    Hoja de estilo de muestra. Modifíquela a su gusto para adaptarla a la base __DB__.
*/


/* *********************** HEADER ********************* */

table#header {
	margin-bottom: 0.2em;
	width: 100%;
}

table#header td#logo {
	background: #FFF;
	/*border: 2px solid #FFCC99;*/
	/*border-right: 1px solid #C9C7BA;*/
	vertical-align: middle;
	width: 80px;
}

table#header td#logo img {
	border-width: 0px;
	display: block;
	text-align: center;
}

table#header td#ident {
	background-color: #666;
	/*background-image: url(../../../img/gradient-120a.jpg);*/
	/*background-position: 0 100%;*/
	color: #FFF;
	font-family: arial, sans-serif;
	font-size: 140%;
	line-height: 1.3;
	padding: 0.3em 0.5em;
	text-align: left;
	vertical-align: middle;
}

table#header td#menu {
	background: #999;
	border-top: 1px solid #FFF;
	border-left: none;
	color: white;
	padding: 0.1em 0.5em 0.2em;
	vertical-align: middle;
}

table#header td#menu a {
    border-color: white;
	color: white;
}

div#headerMessage {
	background-image: url(../../../img/icon_caution.gif);
	background-repeat: no-repeat;
	background-position: 0 50%;
	font-size: 90%;
	margin-left: 80px;
	padding: 0.2em;
	padding-left: 30px;
}

div#extra {
    background-color: #BBB;
    padding: 0.5em 1em 0.3em;
}


/* *********************** FOOTER ********************* */

div#db-footer {
	background: #FFF;
	clear: both;
	color: #333;
	font-size: 85%;
	/*margin-bottom: 10px;*/
	margin-top: 2em;
	padding: 0.2em 0.5em;
	text-align: center;
}
