/* --------------------------------
 * reset browser defaults
 * --------------------------------
 */
body, p, h1, h2, h3, h4, h5, h6, table, tr, td, div, form, ul, ol, dl, li, pre {
	border: 0;
	margin: 0;
	padding: 0;
}

p {
	margin-bottom: 1em;
}

hr {
	display: none; /* lineas de separación para navegadores sin CSS */
}

body {
	background-color: #EEE; /*#C9C7BA; /*#C8B9A6; /*D0D0D0; /*#F6F6F6;*/
	font-family: arial, 'trebuchet ms', verdana, sans-serif; 
	font-size: small; /* trebuchet: 96%; verdana: 94% */
	line-height: 1.3em; 
	margin: 2px auto;
	max-width: 990px;
	width: 99%;
}

.debug-info {
    background-color: #FED;
    border: 2px solid red;
    padding: 0.3em 0.7em;
}

div#contentWrapper {
	/*margin-left: 81px;   /* según el ancho del logo */
}

/* --------------------------------
 * Formularios de búsqueda
 * --------------------------------
 */

div#searchFormWrapper {
	/*background: #FFF;*/ /* #E6E6E6;*/
	/*border-top: 1px solid #BBB;
	border-bottom: 1px solid #BBB;*/
	/*border: 1px solid #CCC;*/
	/*padding: 0.7em;*/
	margin-top: 1.5em;
}

div#searchFormWrapper a:visited {
	color: #00C;
}

div#searchFormWrapper a:active, div#searchFormWrapper a:focus {
	color: #FFF;
}

div#browseIndexes, div#search, div#busqAvanzada {
	/*-moz-border-radius: 10px;*/
	margin-bottom: 1.2em;
}

div#search {
	float: left;
	width: 49%;
}

div#browseIndexes {
	float: right;
	width: 49%;
}

div#browseIndexes table, div#search table {
	margin: 0.4em;
}

div#browseIndexes td, div#search td {
	padding: 0.5em;
} 

.searchFormHead {
	/*background: #FED;*/ /*#999;*/    /* #009 */
	border-bottom: 1px dotted #999;
	color: #222; 
	font-family: arial, sans-serif;
	font-size: 1em;
	font-weight: bold;
	padding: 0.2em 0.7em; /*#03C;*/ 
	text-align: left;
	/*text-transform: uppercase;*/
}

.searchFormCell {
	background: #D3D3D3; /*#A0DCD8; /*#7ADAE1; /*#D6D6D6; /*#FED; /*#EAC995; /*#FFC; /*#ECECEC; /*#F6F6F6;*/
	/*border: 1px solid #996;*/
	/*-moz-border-radius: 8px;*/
	margin-bottom: 1.2em;
}

#busqAvanzada {
	margin-left: auto;
	margin-right: auto;
	width: 65%;
}

#busqAvanzada td {
	padding: 0.1em 0.2em;
}

#busqAvanzada td.label {
	text-align: right;
}

#busqAvanzada fieldset {
    margin-top: 1em;
}

#busqAvanzada #pub_date_fieldset td.label {
    text-align: left;
}

#busqAvanzada #otras_caract td {
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}

#busqAvanzada #filterOp_cell {
    padding-bottom: 0.4em;
    padding-top: 0.4em;
}

#busqAvanzada .toggler {
    background-repeat: no-repeat;
    background-position: 4px 50%;
    cursor: pointer;
    padding-left: 20px;
}
#busqAvanzada  .hide {
    display: none;
}
#busqAvanzada .show {
    display: block;
}
#busqAvanzada .expand {
    /*background-image: url(http://www.javascriptjunkie.com/stuff/expand.gif);*/
    background-image: url(http://igene.invitrogen.com/iGene/media/icon_expand_red_border.gif);
}
#busqAvanzada .collapse {
    /*background-image: url(http://www.javascriptjunkie.com/stuff/collapse.gif);*/
    background-image: url(http://igene.invitrogen.com/iGene/media/icon_contract_red_border.gif);
}


fieldset {
	margin: 0.3em 1em;
	padding: 0.7em 0.5em 0.4em 0.5em;
}

legend {
	font-family: arial, verdana, sans-serif;
	font-size: 90%;
	font-weight: bold;
}

.searchFormCell input {
	background: #FFF;
}

.searchFormCell select {
	background: #FFF;
}

input#kwQuery, input#browseTerm {
	border: 1px solid #999;
	margin-top: 0.2em;
	padding: 0.1em;
}

input#kwQuery {
	margin-bottom: 0.2em;
	width: 90%;
}

input#browseTerm {
	width: 60%;
}

select#searchType, select#browseType {
	font-family: verdana, sans-serif;
}

div#browseIndexes .minihelp, div#search .minihelp {
	/*border-left: 1px dotted #999;*/
	color: #333;
	font-size: small;
	padding: 0 0.5em 0.5em 1em;
	vertical-align: top;
	/*width: 50%;*/
}

#busqAvanzada h4 {
	font-size: 95%;
}

input.jumpTo {
	background: #FFC;
}

/* --------------------------------
 * Botones
 * --------------------------------
 */
input.button {
	background: #E2DFD0; /*#7ADAE1*/
	font-family: verdana, arial, sans-serif;
	font-size: 90%;
	/*font-weight: bold;*/
}

input.estilo {
	background: #DDD;
	font-family: verdana, arial, sans-serif;
	font-size: 13px;
	/*border: solid 1px #999;*/
	/*line-height: 110%;*/
	/*height: 1.5em;*/
}

input.estiloActivo {
	background: #FFC; /*#666;*/
	color: black; /*#F9F9F9;*/
	/*font-weight: 600;*/
}

a.estilo, span.estilo {
	font-weight: bold;
	margin-left: 0.7em;
}

span.estiloActivo {
	/*background: #FFC;*/
	font-weight: bold;
}

input.estiloActivo:hover {
	cursor: pointer;
	/*cursor: hand;*/
}

.newSearch {
	font-weight: 600;
}



/* ---------------------------------------------
 * Resaltado de términos de búsqueda
 * ---------------------------------------------
 */
.hl {
	font-weight: bold;
	/*color: #A52A2A;*/
	/*background: #E9E9E9;*/
	/*background: #888;*/
	color: #F0F0F0;
	color: #C00;
	/*padding: 0 2px;*/
	/*font-style: italic;*/
	/*text-decoration: underline;*/
}

a:active .hl, a:focus .hl {
	color: #DDD;
}

.hl-msc {
	/*background: #FFC;*/
	background: #888;
	color: #F0F0F0;
	padding: 0 2px;
}


/* --------------------------------
 * Links
 * --------------------------------
 */

a {
	text-decoration: none;
}


/* LINK PSEUDO-CLASES: L-V-H-A */

a:link {
	border-bottom: 1px dotted #009;
	color: #00C;
}

a:visited,
a.visitedLink {
	border-bottom: 1px dotted #800080;
	color: #800080; /*#69F;*/ /*#39F*/ 
}

a:hover {
	border-bottom: 1px solid #009; /* genera error en IE6 */
	color: #00C;
}

a:active,
a:focus {
	background: #009;
	border-bottom: 1px dotted #009;
	color: #FFF;
}

/* ---------------------------------------------- */


/* --------------------------------
 * Tablas de resultados
 * --------------------------------
 */

table#bibRecordList {
	/*float: left; */   /* float en caso de usar una barra lateral */
	line-height: 1.3em;
	margin-top: 0.7em;
	margin-left: 0;
	/*margin-right: auto;*/
	/*table-layout: fixed;*/
	width: 100%;        /* reducir en caso de usar una barra lateral */
}

table#bibRecordList td {
	padding: 0.2em;
}

table#bibRecordList th {
	background: #CCC; /*#E0EEE0; /*#CCC; /*#ECFBEC; /*#908470;*/
	/*background-image: url(../img/999999a.gif);*/
	border: none; /* para cancelar el efecto de border="1" */
	border-top: 1px solid #999;
	border-left: 1px solid #BBB;
	border-bottom: 1px solid #999;
	color: #444;
	/*font-size: 95%;*/
	/*font-style: italic;*/
	padding: 0.1em;
}

table#headingRecordList {
	/*border-top: 1px solid #AAA;*/
	/*border-bottom: 1px solid #AAA;*/
	line-height: 1.3em;
	margin-top: 0.3em;
	padding-bottom: 0.3em;
	padding-top: 0.3em;
	width: 100%;
}

/* --------------------------------
 * Celdas
 * --------------------------------
 */

td.headingFirstRow {
	border-top: 0px solid #CCC;
}

td.NAME {
	/*background: #5FE;*/ /* #00DCFF;*/
}

td.SUBJ {
	/*background: #FEB;*/ /* #00DCFF;*/
}

td.TITLE {
	/*background: #22FEFF;*/ /* #00DCFF;*/
}

tr.headingRow td {
	border-bottom: 0px solid #DDD;
	padding-bottom: 0.3em;
	padding-top: 0.3em;
}

tr.headingOdd {
	/*background: #FFFFEE;*/ /*#ECFBEC; /*#E3F2E3; /*#E6E6E6;*/
}

tr.headingEven {
	/*background: #FFFFEE;*/ /*#ECFBEC; /*#EFEFEF;*/
}

td.headingCellIndent {
	padding-left: 2.3em;
	padding-right: 0.7em;
	text-indent: -1.3em;
}

span.headingQualifier {
	font-weight: normal;
}


/* --------------------------------
 * MARC tagged
 * --------------------------------
 */

.tablaMARC {
	border-top: 1px dotted #CCC;
	color: #000;
	font-family: 'lucida console', 'courier new', monospace;
	line-height: 1.5em;
	margin: 0;
	table-layout: fixed;
}

.tablaMARC td {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

td.marctag {
	width: 2.5em;
}

td.marcindicators {
    letter-spacing: 0.3em;
	width: 1.8em;
}

/* ------------------------------------- */

.smaller {
	font-size: 85%;
}

.lighter {
	color: #666;
}

div#resultWrapper {
	background: #FFF; /*#E0EEE0; /*#ECFBEC; */
	/*border-left: 0.6em solid #908470;*/
	padding: 0.6em;
	padding-top: 0.4em;
}

div#resultHeader {
	background: #888; /*#0088DD;*/ /*#908470; /*#A09080; /* taupe */
	color: #FFF;
	/*font-weight: bold;*/
	padding: 0.2em 0.5em;
}

.headerSuggestion {
	background: #DDD; /*#FFC;*/
	/*margin-top: -0.4em;
	margin-left: -0.6em;
	margin-right: -0.6em;
	margin-bottom: 0.4em;*/
	padding: 0.2em 0.5em 0.3em;
	/*border-bottom: 1px solid #CCC;*/
}

div#correctedQuery {
	background: #FFC;
	font-style: italic;
	padding: 0.2em 0.5em;
}

div#correctedQuery b {
	font-style: normal;
}

div#singleMatchNotice {
	background: #D0D0D0; /*#FFC;*/
	padding: 0.2em 0.5em;
}

div#resultSubheader {
	/*background: #ECFBEC; /*#FED; /*#DDD;*/
	border-bottom: 1px solid #AAA;
	/*float: left;*/
	padding-bottom: 0.3em;
	padding-right: 0.1em;
}

div.NAME { /* búsqueda por "autor" */
	/*background: #009966;*/ /*#008000;*/
}

div.SUBJ { /* búsqueda por tema o código temático */
	/*background: #B6B092;*/ /*#A5A081;*/ /*#C7C1A3;*/ /* tan (tostado) */
}

div.TITLE { /* búsqueda por título */
	/*background: #069;*/ /*#03c;*/ /*#6666FF;*/ /*#009;*/
}

div.SN { /* búsqueda por número normalizado */
	/*background: #9966CC;*/
}

div.ANY { /* búsqueda por cualquier campo */
	/*background: #888;*/
}

div.COL { /* búsqueda por serie/colección */
	/*background: #FF9933;*/ /*#f66;*/ /*#C30;*/ /*#CC0033;*/
}

blockquote {
	margin: 0 0 0 1.2em;
}

span.publication {
	/*font-size: 90%;*/
}


td.initialLetter {
	background: #DDD;
	border-bottom: 1px solid #999;
	border-top: 1px solid #999;
	font-size: 150%;
	font-weight: bold;
	padding: 0.2em 1.2em;
	text-align: left;
}


/* --- experimento (08/feb) --- */
/* --- En class="indexCell', " tag"v2, '" --- */
.tag600 { background: #FFC; }
.tag610 { background: #FFCC99; }
.tag611 { background: #FF6699; }
.tag630 { background: yellow; }
.tag650 { background: #FDA; }
.tag651 { background: #0F9; }




/* --------------------------------
 * Estilo cita
 * --------------------------------
 */

#cita {
	margin: 0.7em 15%;
}

.citaCell {
	background: #FEFEF0;
	border: solid 1px #EAEAEA;
}


/* --------------------------------
 * Extracción de claves
 * --------------------------------
 */
.extract {
	font-family: lucida console, monospace;
	font-size: 85%;
}

.alIndice {
	background: #009;
	color: white;
	font-weight: bold;
	padding: 0.2em;
}


ul.navigation {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.navigation li {
	display: inline;
}

#linkPrevResult {
	background-image: url(../img/left.gif);
	background-position: 0 50%;
	background-repeat: no-repeat;
	/*border: 1px dotted #999;*/
	padding-left: 14px;
	/*text-decoration: none;*/
}
#linkPrevResultDisabled {
	background-image: url(../img/left-gris.gif);
	background-position: 0 50%;
	background-repeat: no-repeat;
	/*border: 1px dotted #999;*/
	color: #777;
	padding-left: 14px;
}
#linkNextResult {
	background-image: url(../img/right.gif);
	background-position: 100% 50%;
	background-repeat: no-repeat;
	/*border: 1px dotted #999;*/
	padding-right: 14px;
	/*text-decoration: none;*/
}
#linkNextResultDisabled {
	background-image: url(../img/right-gris.gif);
	background-position: 100% 50%;
	background-repeat: no-repeat;
	/*border: 1px dotted #999;*/
	color: #777;
	padding-right: 14px;
}


/* --------------------------------
 * PAGINAS AUXILIARES
 * --------------------------------
 */
 

div#about {
	background: #FFF;
	margin-top: 0;
	/*margin-left: 82px;*/
	padding: 1.5em 3em;
}
div#about h2 {
	font-size: 1.3em;
}
div#about h3 {
	border-bottom: 1px dotted #BBB;
	margin-bottom: 0.5em;
	margin-top: 1.5em;
	padding-bottom: 0.2em;
}

div#about p {
	margin-bottom: 1em;
}

h3#feedback_reply {
	background: #FFC;
	color: #000;
	font-size: 1.1em;
	margin-top: 1em;
	padding: 0.7em 1em;
	text-align: center;
}


/* --------------------------------
 * PAGE FOOTER
 * --------------------------------
 */

div#page-footer {
	background: #FFF;
	/*border-width: 1px 0;
	border-style: solid;
	border-color: #FC9;*/
	/*border-top: 3px solid #fed;
	border-bottom: 3px solid #fed;*/
	clear: both;
	color: #333;
	font-size: 85%;
	margin-bottom: 10px;
	margin-top: 2em;
	/*margin-right: 2%;*/
	padding: 0.2em 0.5em;
	text-align: center;
}

div#opac_numbers {
	/*border-top: 1px dashed #CCC;*/
	border-bottom: 1px dotted #CCC;
	/*font-size: 85%;*/
	/*margin-top: 0.5em;*/
}


/* --------------------------------
 * SUGERENCIAS
 * --------------------------------
 */
 
div#sugerencias {
	/*background: #FFC;*/
	/*border: 3px solid #FFC;*/
	margin: 0 auto;
	padding: 1em 2% 0.2em 8%;
	/*width: 78%;*/
}

div#sugerencias h3 {
	font-size: 1.1em;
	margin-bottom: 1em;
}
ul#listaSugerencias {
	list-style: none;
	margin-left: 1%;
}

ul#listaSugerencias li {
	background-image: url(../img/right.gif);
	background-position: 0px 0.0em;
	background-repeat: no-repeat;
	margin: 0.6em 0;
	padding-left: 20px;
}

ul#otherSearches {
	list-style: none;
	margin-left: 1%;
}
ul#otherSearches li {
	background: none;
}

ul#webSearches {
	margin-left: 1%;
	margin-top: 0.5em;
}
ul#webSearches li {
	background: none;
	border-left: 1px solid #bbb;
	display: inline;
	line-height: 1.7;
	padding: 0 0.6em 0 0.8em;
}
ul#webSearches li:first-child {
	border-left: none;
}


/* --------------------------------
 * EXTRA
 *
 * FIXME -- Estos estilos son para la base bibima, y por lo tanto deben ser movidos a un archivo local.
 * --------------------------------
 */

div#extra {
	border-top: 1px dotted #999;
	padding-top: 1em;
}

div#extra h4 {
	font-size: 1em;
}

div#extra a:visited {
	color: #00C;
}

div#extra a:active, div#extra a:focus {
	color: #FFF;
}

div#extra div {
	background: #FFF8DC; /*#FAFAD2; /*#FFC; /*#E0ECFF; /*#C3D9FF;*/
	border: 1px solid #CCC;
	padding: 0.3em 1% 0.5em;
	/*width: 47%;*/
	-moz-border-radius: 8px;
}

div#extra div#otros-recursos, div#extra div#de-nuevo {
	float: left;
	margin-top: 0.5em;
	width: 97.8%;
}
div#extra div#de-nuevo, div#extra div#textos {
	/*float: left;*/
}
div#extra div#de-nuevo a {
	font-weight: bold;
}
div#extra div#otros-recursos ul, div#extra div#de-nuevo ul {
	line-height: 1.5;
	margin-left: 1em;
}
div#extra ul li {
	/*background: url(http://www.stylegala.com/img/_bullets/0199_small%20old%20simple%20arrow.png) no-repeat 0 0.4em;*/
	/*float: left;*/
	list-style: none;
	margin: 0.1em 0.7em 0.1em 0;
	padding: 0em 0.2em;
	white-space: nowrap;
}
div#extra div#otros-recursos li {
	/*float: left;*/
}

/* ---------------------------------------------- */
.warning {
	background: #FFF; /* #CC0033; */
	border-top: 1px solid #C00;
	border-bottom: 1px solid #C00;
	color: #900;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.3em;
	margin: 0.5em auto 0.5em;
	padding: 0.2em 0.5em;
	text-align: left;
	/*width: 80%;*/
}

/* ---------------------------------------------- */

tr.deberiaEstarAqui {
	background: #EEE;
	color: #000;
}

tr.deberiaEstarAqui td {
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	padding: 0.3em 1em;
	text-align: left;
}

tr.deberiaEstarAqui td span {
	font-weight: bold;
	font-style: italic;
}


/* --------------------------------
 * SIGNATURAS TOPOGRÁFICAS
 * --------------------------------
 */

div.STparte {
	padding: 0.1em;
	/*border-bottom: 1px solid #CCC;*/
	font-style: italic;
	font-weight: normal;
}

div.STresto {
	font-weight: bold;
	/*padding-left: 0.5em;*/
}


/* ---------------------------------------------------- */
.hide {
	display: none;
}

/* ---------------------------------------------------- */
.opacAacrDiv {
	background: #FFF; /*#FEFEF0; /*#FFF8DC*/
	border-top: 0px solid #CCC;
	margin: 0.5em 0 0 0;
	padding: 0.5em 1.5em 0.5em 1.5em;
	width: auto;
}
.opacAacrDiv a {
	text-decoration: none;
}
.opacAacrDiv a:hover {
	text-decoration: underline;
}

.aacrLowlight {
	background: transparent !important; /* cancela una declaración de aacr.css */
}

/* ---------------------------------------------------- */

/* esto queda para el final, pues al validador de CSS no le gusta -moz */
.searchFormCell {
	-moz-border-radius: 8px;
}
