# A sample Apache virtual host configuration for OpacMarc.
# Modify as needed.


Listen 88
NameVirtualHost *:88
<VirtualHost *:88>

    ServerName 127.0.0.1
    DocumentRoot "__OPACMARC_DIR__/htdocs/"
    <Directory "__OPACMARC_DIR__/htdocs/">
        Options +Indexes
    </Directory>

    ScriptAlias /cgi-bin/ "__OPACMARC_DIR__/cgi-bin/"
 
</VirtualHost>
