##########################################
#  ATENCION - NO MODIFIQUE ESTE ARCHIVO  #
##########################################


# -----------------------------------------------------------------
# Archivos utilizados en la generación del OPAC y en Catalis
# -----------------------------------------------------------------
AC-ANSI.TAB=__OPACMARC_DIR__/util/ac-ansi.tab
BIBLIO.FST=__OPACMARC_DIR__/util/biblio.fst
BIBLIO.STW=__OPACMARC_DIR__/util/biblio.stw
COUNTRY.*=__OPACMARC_DIR__/admin/common/country.*
DICTGIZ.*=__OPACMARC_DIR__/admin/common/dictgiz.*
HEADSORT.PFT=__OPACMARC_DIR__/util/headsort.pft
UC-ANSI.TAB=__OPACMARC_DIR__/util/uc-ansi.tab


# -----------------------------------------------------------------
# Archivos utilizados solamente en la generación del OPAC
# -----------------------------------------------------------------
ELIMDUP2.PFT=__OPACMARC_DIR__/admin/opac/elimdup2.pft
HEAD.PFT=__OPACMARC_DIR__/admin/opac/head.pft
HEADINGS.FST=__OPACMARC_DIR__/admin/opac/headings.fst
LANG.*=__OPACMARC_DIR__/admin/opac/lang.*
LANG.FST=__OPACMARC_DIR__/admin/opac/lang.fst
LANG.TXT=__OPACMARC_DIR__/admin/opac/lang.txt
LOCATION_SORT.PFT=__OPACMARC_DIR__/admin/opac/location_sort.pft
MSC.*=/home/fernando/svn/opacmarc/bases/opacmarc/opac/msc2000/msc.*
NAME.PFT=__OPACMARC_DIR__/admin/opac/name.pft
OEM2ANSI.*=__OPACMARC_DIR__/admin/opac/oem2ansi.*
RECODE.PFT=__OPACMARC_DIR__/admin/opac/recode.pft
REGPUNT.PFT=__OPACMARC_DIR__/admin/opac/regpunt.pft
SECS2MARC.PROC=__OPACMARC_DIR__/admin/opac/secs2marc.proc
SUBJ.PFT=__OPACMARC_DIR__/admin/opac/subj.pft
TITLE.PFT=__OPACMARC_DIR__/admin/opac/title.pft
